* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Saira', sans-serif;
}

:root {
    --cor1: rgb(1, 52, 109);
    --cor2: linear-gradient(to right, #1753c2, #0c476e);
    --cor3: linear-gradient(to right, #268f11, #05b61d);
    --cor4: linear-gradient(to right, #6489b4, #695aeb, #2d77bd);
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
}

body {
    /* background: rgba(128, 128, 128, 0.336); */
    /* background-color: white; */
    background-image: url(cidade-fundo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: auto;
    /* margin-top: -25px; */
    height: 100vh;
}

.navbar {
    background-color: var(--orange);
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.config {
    aspect-ratio: 1/1;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 15px;
    right: 0;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    
}

.logo-top {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.logo {
    width: 60px;
}

.card {
    background-color: white;
    padding: 10px;
    border:2px solid var(--cor1);
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #00000060;
    width: 300px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0d009c
}

.label-float input {
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom: 2px solid #0d009c;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;

}

.label-float {
    position: relative;
    padding-top: 13px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.label-float input:focus {
    border-bottom: 2px solid #4038a0;
}

.label-float label {
    color: #0d009c;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.label-float input:focus+label,
.label-float input:valid+label {
    font-size: 13px;
    margin-top: 0;
    color: #4038a0
}

button {
    background-color: transparent;
    border-color: #0d009c;
    color: #0d009c;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: all .4s ease-out;
}

button:hover {
    background-color: #0d009c;
    color: #fff;
}

.justify-center {
    display: flex;
    justify-content: center;
}

.fa-eye {
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
    color: #0d009c;
}

#msgError {
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

#msgSuccess {
    text-align: center;
    color: #00bb00;
    background-color: #bbffbe;
    padding: 10px;
    border-radius: 4px;
    display: none;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    color: white;
    background:var(--cor1);
    width: 100%;
}

@media (max-width:700px) {

    h3{
        font-size: 0.97em;
        max-width: 85%;
        margin: auto;
    }
    
    
}

@media (max-width:500px) {

  h3{
      font-size: 0.79em;
      max-width: 80%;
  }
  
}